<div class="card card-text mt-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">

        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="/users/<%= user.id %>" class="text-decoration-none">

                    <% if user.profile_image.attached? %>
                        <%= image_tag user.profile_image, class: "thumbnail rounded-pill", style: "height: 40px; width: 40px;" %>
                    <% else %>
                        <%= image_tag 'user.png',  class: "thumbnail rounded-pill", style: "height: 40px; width: 40px;" %>
                    <% end %> <%= user.username %></a>
            </div>
             <%= user.email %>
             <div class="row border-top">
                <div class="col">Tweets<br>
                    <b><%= user.tweets.count %></b>
                </div>
                <div class="col">Followers<br>
                    <b><%= user.followers.count %></b>
                </div>
                <div class="col">Following<br>
                    <b><%= user.following.count %></b>
                </div>
            </div>
        </div>
        <span>
            <%= follow_btn(user) %>
        </span>
    </ul>
</div>