<div class="fb-profile">
  <% if @user.cover_image.attached? || @user.profile_image.attached? %>
    <%= image_tag @user.cover_image, class: "fb-image-lg", align: 'left', style: "height: 130px;" %>
    <%= image_tag @user.profile_image, class: "fb-image-profile thumbnail rounded-pill", align: 'left'%>
    <div class="fb-profile-text">
            <div class="fw-bold">
                <h2><%= @user.username %></h2>
                <%= @user.email %>
              </div>
          </div>
  <% else %>
    <%= image_tag 'cover.jpg', align: "left", class: "fb-image-lg", style: "height: 130px;" %>
    <%= image_tag 'user.png', align: "left", class: "fb-image-profile thumbnail rounded-pill" %>
          <div class="fb-profile-text">
            <div class="fw-bold">
                <h2><%= @user.username %></h2>
                <%= @user.email %>
              </div>
          </div>
  <% end %>
</div>

<div class="container row">
  <p><%= link_to "Back", :back, class: "fas fa-arrow-left text-decoration-none" %></p>
  <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
    <ul class="@users">
      <%= render @tweets %>
    </ul>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card card-body">
    <span class="float-end"><i class="fas fa-thumbs-up"></i> Likes : <%= @user.likes.count %></span>
      <ul class="list-group list-group-flush">
        <div class="ms-2 me-auto">
             <div class="row border-top">
                <div class="col">Tweets<br>
                    <b><%= @user.tweets.count %></b>
                </div>
                <div class="col">Followers<br>
                    <b><%= @user.followers.count %></b>
                </div>
                <div class="col">Following<br>
                    <b><%= @user.following.count %></b>
                </div>
            </div>
        </div><hr>
        <span>
            
          <% if current_user.id == @user.id %>
            <h5>My Followers : </h5>
            <ul class="list-group list-group-flush">
              <% current_user.followers.each do |user| %>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                      <div class="fw-bold"><%= link_to user.username, user %>
                      </div>
                    </div>
                    <span><%= user.email %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
          
        </span>
    </ul>
    </div>
  </div>
</div>

<%= render 'shared/new_tweet' %>
