<% users.each do |user| %>
  <div class="card border-0 bg-transparent">
    <div class="d-flex align-items-center">
    <div class="w-auto">
      <%= profile_img(user.profile_picture, {class: "img-thumb br-round"}) %>
    </div>
    <div class="card-body w-100 d-flex justify-content-between align-items-center">
        <%= link_to("/users/#{user.id}") do %>
          <p class="mb-0 text-capitalize tx-normal font-weight-bold"><%= user.username %></p>
          <span class="text-muted tx-sm"><%= user.email %></span>
        <% end %>
        <div class="">
          <%= follow_btn(user) %>
        </div>
    </div>
  </div>
<% end %>