<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">
               <i class="fab fa-twitter"></i> Viki-Twitter
            </a>
            <% if current_user && request.env['PATH_INFO'] != "/users/edit.#{current_user.id}" %>
                <a class="nav-item">
                    <button type="button" class="btn btn-warning rounded-pill btn-sm" data-bs-toggle="modal" data-bs-target="#newTweetModal">
                     <i class="fas fa-plus"></i> New Tweet</button>
                </a>
            <% end %>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <% if current_user %>
                <li class="nav-item">
                    <a href="/users/<%= current_user.id %>" class="btn btn-secondary btn-sm rounded-pill m-2">
                     <%= current_user.username %> : profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><%= link_to ' Account Settings', edit_user_registration_path(current_user), class: "dropdown-item fas fa-cog" %></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><%= link_to ' Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item fas fa-sign-out-alt" %></li>
                    </ul>
                </li>
                <% else %>
                    <%= link_to 'Log In', new_user_session_path, class: "btn btn-success btn-sm rounded-pill m-2", style: "width: 80px" %>
                    <%= link_to 'Register', new_user_registration_path, class: "btn btn-warning btn-sm rounded-pill m-2", style: "width: 80px" %>
                <% end %>
            </ul>
            
        </nav>