<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
       <i class="fab fa-twitter"></i> Viki-Twitter
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <% if current_user %>
                <li class="nav-item">
                  <div class="nav-link">
                    <i class="fas fa-thumbs-up"></i> Likes : <%= current_user.likes.count %>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><%= link_to ' Account Settings', edit_user_registration_path(current_user), class: "dropdown-item fas fa-cog" %></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><%= link_to ' Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item fas fa-sign-out-alt" %></li>
                    </ul>
                </li>
                <% else %>
                    <%= link_to 'Log In', new_user_session_path, class: "btn btn-success btn-sm rounded-pill m-2", style: "width: 80px" %>
                    <%= link_to 'Register', new_user_registration_path, class: "btn btn-warning btn-sm rounded-pill m-2", style: "width: 80px" %>
                <% end %>
            </ul>
    </div>
  </div>
</nav>