<!DOCTYPE html>
<html>
  <head>
    <title>Viki-Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <form>
        <% if current_user %>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user"></i> <%= current_user.email %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to ' Account Settings', edit_user_registration_path(current_user), class: "dropdown-item fas fa-cog" %></li>
              <li><%= link_to ' Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item fas fa-sign-out-alt" %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-outline-success btn-sm rounded-pill m-2", style: "width: 80px" %>
          <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary btn-sm rounded-pill m-2", style: "width: 80px" %>
        <% end %>
      </form>
      
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
